body {
	background-color: rgb(175,175,175);
}

nav {
	background-color: #c34f37;
}

nav a {
	color:white;
}

h1 {
	color:white;
	font-size: 200%;
	text-align: center;
	text-shadow: 2px 2px 2px black;
}

h2 {
	font-size: 120%;
}

h3 {
	font-size: 110%;
}

h5 { 
	font-size: 120%;
}


/* -- End of Header Settings -- */


/* -- Layout Settings -- */

hr {
	color:white;
}

footer a {
	color:rgba(255,255,255,0.7);
}

/* -- End of Layout Settings -- */


/* -- Table Settings -- */


td {
	background-color:white;
}

th {
	background-color:#66cded;
}

form {
	background-color:#a1d7bd;
}
